<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<button id="getButton" onclick="get()">GET</button>
			<button id="getButton" onclick="post()">POST</button>
			<button id="getButton" onclick="del()">DELETE</button>
		</div>
	</div><!--/row-->

	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<td>#</td>
						<td>First Name</td>
						<td>Last Name</td>
						<td>Email</td>
						<td>Phone</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th id="dataContactId" scope="row">1</th>
						<th id="dataF_Name">John</th>
						<th id="dataL_Name">Doe</th>
						<th id="dataEmail">john.doe@example.com</th>
						<th id="dataPhone">1234455</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>