<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<header id="header" class="header">
		<% include ../partials/header %>
	</header><!-- /header -->

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>