<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Contact List App">
  <meta name="keywords" content="nodejs, express, contactlist, bootstrap">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<% include ../partials/navbar %>

	<header id="header" class="header">
		<%# include ../partials/header %>
	</header><!-- /header -->

	<div class="container">
	  <div class="starter-template">
	    <h1>Bootstrap starter template</h1>
	    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	  </div>
	</div><!-- /.container -->
	
	<% include ../partials/table %>

	<footer>
		<%# include ../partials/footer %>
	</footer>
	
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>